body {
    background-image: url("/static/assets/beach.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: black;
    text-shadow: 0.5px 0 0 #fff, -0.5px 0 0 #fff, 0 0.5px 0 #fff, 0 -0.5px 0 #fff, 0.5px 0.5px #fff, -0.5px -0.5px 0 #fff, 0.5px -0.5px 0 #fff, -0.5px 0.5px 0 #fff;
    min-height: 100vh;
    font-size: 2rem;
}
form{
    width: 90vh;
}
h2{
    font-size: 2em;
}
.container{
    height: 100vh;
}
#bienvenida{
    height: 20vh;
}