h2{
    text-align: center;
}
body {
    background-color:whitesmoke;
    color: black;
}
.dalt{
    color:#0071bc
}
img  {
    width: 100%;
}
p {
    font-size: 2em;
    text-align: center;
}